.form-text {
    color: #808080;
    font-size: 0.9rem;
}

.form-image-preview {
    height: 200px;
    width: 200px;
    object-fit: contain;
}

.table-image {
    max-height: 100%;
    width: 100%;
    object-fit: contain;
}

td.image {
    padding: 0;
}
