.form-text {
    color: #808080;
    font-size: 0.9rem;
}

.form-image-preview {
    height: 200px;
    width: 200px;
    object-fit: contain;
}

.table-image {
    height: 100px;
    width: 100%;
    object-fit: cover;
}

td.image {
    padding: 0;
}

.order-summary-image {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.sold-button {
    display: block;
    height: 20px;
}
